/* Hero 1 */

/* Gaya untuk container gambar */
.hero-image-container {
    position: absolute; /* Posisi absolut untuk menempatkan gambar di belakang */
    top: 0;
    left: 0;
    width: 100%; /* Gambar memenuhi lebar container */
    height: 100%; /* Gambar memenuhi tinggi container */
    z-index: 1; /* Letakkan gambar di belakang elemen lain */
    overflow: hidden; /* Sembunyikan bagian gambar yang keluar dari container */
}

/* Gaya untuk gambar */
.hero-image {
    width: 100%; /* Gambar memenuhi lebar container */
    height: auto; /* Pertahankan rasio aspek gambar */
    object-fit: cover; /* Potong gambar agar sesuai dengan container */
    opacity: 0.3; /* Tambahkan transparansi untuk efek latar belakang */
}

