/* HEADER */
/* Gaya untuk header */
header {
  background-color: #f8f9fa; /* Warna latar belakang terang */
  border-bottom: 1px solid #dee2e6; /* Garis bawah untuk pemisah */
  padding: 1rem 0; /* Padding atas dan bawah */
}

header h1 {
  font-size: 1.5rem; /* Ukuran font untuk teks "Reparasi Toko Alexa" */
  color: #343a40; /* Warna teks gelap */
  margin: 0; /* Hilangkan margin default */
}

header .nav-pills .nav-link {
  color: #495057; /* Warna teks default */
  font-weight: 500; /* Tebal teks */
  transition: color 0.3s ease; /* Animasi transisi warna */
}

header .nav-pills .nav-link.active {
  background-color: #0d6efd; /* Warna latar belakang untuk link aktif */
  color: #fff; /* Warna teks untuk link aktif */
}

header .nav-pills .nav-link:hover {
  color: #0d6efd; /* Warna teks saat hover */
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Susun elemen secara vertikal */
    text-align: center; /* Pusatkan teks */
  }

  header .nav-pills {
    margin-top: 1rem; /* Tambahkan jarak antara teks dan menu */
  }
}

html {
    scroll-behavior: smooth;
}

/* ABOUT */